body{
    margin: 0;
    background: #000000;
}
.navbar{
    background:#161616;
    height: 20%;
    width: 100%;
    border-bottom: 2px solid #552583;
    font-size: 20px;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;    
}
.container{
    background:#161616;
    height: 20%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.container img{
    height: 60px;
    float: left;
    padding-top: 12px;
}
.container h1{
    color: #FDB927;
    margin: none;
    float: left;
    margin: 15px 0px 0px 10px;
    font-size: 40px;
}
.ul_menu{
    float: left;
    list-style: none;
    margin-top: 25px;
    margin-left: 20px;
}
.ul_menu li{
    float: left;
    margin: 6px;
    color: #ffffff;
    margin-right: 20px;
    transition: 0.2s;
}
a:hover{
    transition: 0.1s;
    border-bottom: #FDB927 2px solid;
    /* color: #552583; */
}
a {
    text-decoration: none;
    color: #ffffff;
}
.ul_login{
    float: right;
    list-style: none;
    margin-top: 25px;
}
.ul_login li{
    float: left;
    margin: 6px;
    color: #ffffff;
}
#div_menu_suspenso {
    border: #FDB927 1px solid;
    width: 14%;
    margin-left: 44%;
    margin-top: -29px;
    background: #161616da;
    display: none;
    position: absolute;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#div_menu_suspenso li {
    list-style: none;
    color: white;
}

/* END NAVBAR */

.container2{
    width: 90%;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: white ;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.texto_esquerda{
    float: left;
    width: 47%;
}
.texto_esquerda p {
    text-align: justify;
}
.container2 span {
    font-size: 31px;
    color: #FDB927;
    font-weight: 900;
}

.texto_direita {
    float: right;
    width: 47%;
    text-align: justify;
}
.texto_direita img {
    margin-top: 30px;
    width: 50%;
    float: left;
}

/* END MAIN */


.rodape{
    height: 50%;
    width: 100%;
    background: #161616;
    overflow: auto;
    border-top: #552583 2px solid;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.container4{
    height: 50%;
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background: #161616;
    display: flex;
    justify-content: space-between;
}
.valores{
    width: 450px;
    text-align: justify;
    margin: 0;
    color: white;
    padding-top: 10px;
}
.redes{
    text-align: right;
    margin-top: 50px;
}
.redes img {
    height: 40px;
}
.rodape p {
    color: white    ;
}
