body{
    margin: 0;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: black;
    color: white;
}
.navbar{
    background: #161616;
    height: 20%;
    width: 100%;
    border-bottom: 2px solid #552583;
    font-size: 20px;
    margin-bottom: 20px;
}
.container{
    background:transparent;
    height: 20%;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.container img{
    height: 60px;
    float: left;
    padding-top: 12px;
}
.container h1{
    color: #FDB927;
    margin: none;
    float: left;
    margin: 15px 0px 0px 10px;
    font-size: 40px;
}
.ul_menu{
    float: left;
    list-style: none;
    margin-top: 25px;
    margin-left: 20px;
}
.ul_menu li{
    float: left;
    margin: 6px;
    color: #ffffff;
    margin-right: 20px;
    transition: 0.2s;
}
a:hover{
    transition: 0.1s;
    border-bottom: #FDB927 2px solid;
    /* color: #552583; */
}
a {
    color: white;
    text-decoration: none;
}
.ul_login{
    float: right;
    list-style: none;
    margin-top: 25px;
}
.ul_login li{
    float: left;
    margin: 6px;
    color: #ffffff;
}
#div_menu_suspenso {
    border: #FDB927 1px solid;
    width: 14%;
    margin-left: 44%;
    margin-top: -40px;
    background: #161616da;
    display: none;
    position: absolute;
    font-family:  Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#div_menu_suspenso li {
    list-style: none;
    color: white;
}

/* END NAVBAR */

.container2 {
    width: 90%;
    margin: auto;
    height: 203px;
}
#img_felipe {
    float: left;
    width: 18%;
    border-radius: 120px;
}
.div_menu img {
    float: left;
    width: 23%;
}
.div_nome {
    float: left;
    border-right: white 1px solid;
    height: 203px;
    width: 11%;
    padding-left: 10px;
}

/* END DIV_NOME */

.div_nome h1 {
    border-bottom: #FDB927 2px solid;
    margin: 0;
}
.div_informacoes {
    height: 191px;
    width: 20%;
    float: left;
    padding: 10px 0 0 30px;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.div_informacoes span {
    font-size: 20px;
}

/* END DIV_INFORMACOES */

.estatisticas_master {
    /* float: left; */
    width: 45%;
    float: right;
    height: 225px;
    /* border: white 1px solid; */
    background: #56258311;
}
.div_estatisticas {
    /* float: left; */
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.div_estatisticas h1 {
    margin: 0;
    border-bottom: #FDB927 1px solid;
}
.div_estatisticas h2 {
    float: left;
    margin: 0;
    font-weight: 100;
}

/* END ESTATISTICAS_MASTER */

.container3 {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    border-top: #ffffff 1px solid;
    display: flex;
    justify-content: space-between;
}
.div_historia h1 {
    border-bottom: #FDB927 2px solid;
    display: flex;
    justify-content: center;
    font-size: 35px;
}
.div_historia {
    width: 60%;
    float: left;
}
.div_historia p {
    font-size: 20px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
}

/* END HISTORIA */


#img_slider {
    width: 260px;
    height: 400px;
    border: #552583 1px solid;
    margin-top: 20px;
    margin-bottom: 10px;
}


/* END MAIN */

.rodape{
    height: 50%;
    width: 100%;
    background: #161616;
    border-top: #FDB927 2px solid;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
overflow: auto;
}
.container5{
    height: 50%;
    width: 90%;
    margin: auto;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #161616;
    display: flex;
    justify-content: space-between;
}
.valores{
    width: 450px;
    text-align: justify;
    margin: 0;
    color: white;
    padding-top: 10px;
}
.redes{
    text-align: right;
    margin-top: 50px;
}
.redes img {
    height: 40px;
}
.rodape p {
    color: white;
    margin: 0;
}

